.navStyle {
    background-color: var(--app-theme-850);
}

.nav-item {
    --bs-navbar-hover-color: var(--app-theme-400);
    --bs-nav-link-hover-color: var(--app-theme-400);
}

.dropdown-menu {
    background-color: var(--app-theme-900);
}

.dropdown:has(.nav-link.active) .dropdown-toggle {
    color: var(--bs-navbar-active-color);
}
